h1,h2,p,a {
    font-family: 'Montserrat',sans-serif;
}

.conteudo-principal{
    display: flex;
    height: 105vh;
    width: 100vw;
    justify-content: space-between;
}

.cabeçalho {
    width: 100%;
    height: 5rem;
    background-color: #3A2B5C;
    color: white;
    padding: 0.5rem;
}

.cabeçalho__titulo {
    font-size: 2rem;
}

.cabeçalho__subtitulo {
    margin-top: .5rem;
}

.videos {
    background-color: #4D475C;
    flex: .6;
    color: #fafafa;
    padding: 1rem;
}

.videos__titulo {
    font-size: 1.5rem;
    padding: 1rem;
}

.videos__lista {
    padding: 1rem;
}

.videos__link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fafafa;
    padding: 1rem 1rem 1rem 0;
}

.videos__link:hover {
    text-decoration: underline;
    background-color: #6A4FA8;
}

.conteudo-principal__mapa-conceitual {
    flex: 2;
    padding: 0 2rem;
}